.o-nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    font-family: sans-serif;
}

.o-logo{

    min-width: 20rem;
    max-width: 20rem;
    height: 100;

}

.o-nav-container{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    min-width: 20rem;
}

.o-link-container{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    min-width: 20rem;
}

.o-btn{
    min-width: 9rem;
    height: 2.5rem;
    border: 1px solid rgb(158, 11, 15);
    color: rgb(158, 11, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    margin: 0.05rem;
    text-decoration: none;
}

.o-reverse{

    color: white;
    background-color: rgb(158, 11, 15);
}

.o-bar{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.o-titulo{
    font-size: 3rem;
    text-align: center;
}

.o-btna{
    margin-bottom: 10rem;

}

.o-fin{
    height: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(222, 222, 222);
    margin-bottom: 18rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

h2{
    font-family: sans-serif;
    font-size: 2.5rem;
    
}

.o-text{
    font-family: sans-serif;
    font-size: 1.5rem;

}

.o-parraf{

    margin-left: 8rem;
}
.o-edu{
    min-width: 30rem;
    max-width: 24rem;
    height: 100;
    box-shadow: 0px 0px 11px #808080;
    margin-right: 14rem;
    
}